<html>
<head></head>

<body>
    <h2> Alarm cen walut.</h2>

    <p>

        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Value</th>
                <th>User name</th>
                <th>Alert when min</th>
                <th>Alert when max</th>
                <th>Update date</th>
            </tr>
            </thead>
            <tbody>
            {% for alert in alerts %}
                <tr>
                    <td>{{ alert.currency.code }}</td>
                    <td>{{ alert.currency.value }}</td>
                    <td>{{ alert.idUser.name }}</td>
                    <td>{{ alert.min }}</td>
                    <td>{{ alert.max }}</td>
                    <td>{{ alert.currency.last_date }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{#        <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Code</th>#}
{#                <th>Value</th>#}
{#                <th>User name</th>#}
{#                <th>Alert when min</th>#}
{#                <th>Alert when max</th>#}
{#                <th>Update date</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for alert in alerts %}#}
{#                <tr>#}
{#                    <td>{{ alert.id }}</td>#}
{#                    <td>{{ alert.currency.code }}</td>#}
{#                    <td>{{ alert.currency.value }}</td>#}
{#                    <td>{{ alert.idUser.name }}</td>#}
{#                    <td>{{ alert.min }}</td>#}
{#                    <td>{{ alert.max }}</td>#}
{#                    <td>{{ alert.currency.last_date }}</td>#}
{#    #}
{#                </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="8">no records found</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}

    </p>

</body>

</html>