<html>
<head></head>

<body>
    <h2> Alarm cen walut.</h2>

    <p>

        <table class="table">
        <thead>
        <tr>
            <th>Alert ID Hash</th>
            <th>Code</th>
            <th>Name</th>
            <th>Value</th>
            <th>Set min</th>
            <th>Set max</th>
            <th>Last update</th>
            <th>Unsubscribe</th>
        </tr>
        </thead>
        <tbody>
        {% for alert in valuesToSend %}
            <tr>
                <td>{{ alert.hashId }}</td>
                <td>{{ alert.code }}</td>
                <td>{{ alert.name }}</td>
                <td>{{ alert.value }}</td>
                <td>{{ alert.min }}</td>
                <td>{{ alert.max }}</td>
                <td>{{ alert.lastUpdate|date() }}</td>
                <td><a href="{{ url('unsubscribe_alert', {'id': alert.hashId}) }}">Unsub</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    <a href="{{ url('subscribe_alert', {'id': userIdHash }) }}">Add new alert</a>



    </p>

</body>

</html>