{% extends 'base.html.twig' %}

{% block title %}Alerts index{% endblock %}

{% block body %}
    <h1>Alerts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Value</th>
                <th>Set min</th>
                <th>Set max</th>
                <th>Last update</th>
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.currency.code }}</td>
                <td>{{ alert.currency.name }}</td>
                <td>{{ alert.currency.value }}</td>
                <td>{{ alert.min }}</td>
                <td>{{ alert.max }}</td>
                <td>{{ alert.currency.lastdate|date() }}</td>
                <td><a href="{{ path('unsubscribe_alert', {'id': alert.id}) }}">Unsub</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
